@page "/DragDropDemo"

<h3>Drag and Drop</h3>
<p>
    This demonstrates using Callbacks to handle drag and drop events. 
</p>
<div class="dragdropdemo" @ref="_dragDropContainer">
    <div class="dropzone dropzone-a">
        Drop Zone A
        @foreach (var item in _someItems)
        {
            if (!item.GroupA) continue;
            // well use item-id attribute to store a reference to our item
            <div class="draggable" item-id="@item.Id" draggable="true">@item.Value</div>
        }
    </div>
    <div class="dropzone dropzone-b">
        Drop Zone B
        @foreach (var item in _someItems)
        {
            if (item.GroupA) continue;
            <div class="draggable" item-id="@item.Id" draggable="true">@item.Value</div>
        }
    </div>
</div>

@code {

}
