.dragdropdemo {
    /* Prevent the user selecting text in the example */
    user-select: none;
}

.draggable {
    text-align: center;
    border: 1px solid orange;
}

.dragging {
    opacity: 0.5;
    background: green;
    border: 2px dashed yellow;
}

.dropzone {
    width: 200px;
    height: 200px;
    background: green;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
}

.dropzone-a {
    background: blueviolet;
}
.dropzone-b {
    background: green;
}