@using SpawnDev.Blazor.UnitTesting
@using System.Reflection

@page "/UnitTests"

<h3>Unit Tests for SpawnDev.BlazorJS</h3>
<p>
    This page runs tests to verify SpawnDev.BlazorJS is working as expected.
</p>

<UnitTestsView TypeInstanceResolver="TestTypeResolver" TestAssemblies="_assemblies" TestTypes="_types"></UnitTestsView>

@code {

    [Inject]
    WebWorkerService webWorkerService { get; set; }

    IEnumerable<Assembly>? _assemblies = new List<Assembly>();
    IEnumerable<Type>? _types = new List<Type>();

    protected override void OnInitialized()
    {
        _types = new List<Type> {
            this.GetType(),
        };
        _assemblies = new List<Assembly> {
            //typeof(UnitTestsView).Assembly,
            typeof(UnitTests).Assembly
        };
    }

    object? TestTypeResolver(Type testType)
    {
        if (testType == this.GetType()) return this;
        return null;
    }

    [TestMethod]
    public async Task WebWorkerTest()
    {
        if (!webWorkerService.WebWorkerSupported)
        {
            throw new Exception("Worker not supported by browser. Expected failure.");
        }
        using var worker = await webWorkerService.GetWebWorker();
        var mathService = worker.GetService<IMathsService>();
        var randValue = Guid.NewGuid().ToString();
        await mathService.SetValueTest(randValue);
        var readBack = await mathService.GetValueTest();
        if (readBack != randValue) throw new Exception("Unexpected result");
    }

    [TestMethod]
    public async Task WebWorkersTest()
    {
        if (!webWorkerService.WebWorkerSupported)
        {
            throw new Exception("Worker not supported by browser. Expected failure.");
        }
        using var workerA = await webWorkerService.GetWebWorker();
        using var workerB = await webWorkerService.GetWebWorker();
        var mathServiceA = workerA.GetService<IMathsService>();
        var mathServiceB = workerB.GetService<IMathsService>();
        var randValue = Guid.NewGuid().ToString();
        await mathServiceA.SetValueTest(randValue);
        var readBack = await mathServiceB.GetValueTest();
        if (readBack == randValue) throw new Exception("Unexpected result");
    }

    [TestMethod]
    public async Task SharedWebWorkerTest()
    {
        if (!webWorkerService.SharedWebWorkerSupported)
        {
            throw new Exception("SharedWorker not supported by browser. Expected failure.");
        }
        using var worker = await webWorkerService.GetSharedWebWorker();
        var mathService = worker.GetService<IMathsService>();
        var randValue = Guid.NewGuid().ToString();
        await mathService.SetValueTest(randValue);
        var readBack = await mathService.GetValueTest();
        if (readBack != randValue) throw new Exception("Unexpected result");
    }

    [TestMethod]
    public async Task SharedWebWorkersByName()
    {
        if (!webWorkerService.SharedWebWorkerSupported)
        {
            throw new Exception("SharedWorker not supported by browser. Expected failure.");
        }
        // workerA1 and workerA2 will refer to the same shared worker
        // workerB is a separate worker instance
        using var workerA1 = await webWorkerService.GetSharedWebWorker("workerA");
        using var workerA2 = await webWorkerService.GetSharedWebWorker("workerA");
        using var workerB = await webWorkerService.GetSharedWebWorker("workerB");
        var mathServiceA1 = workerA1.GetService<IMathsService>();
        var mathServiceA2 = workerA2.GetService<IMathsService>();
        var mathServiceB = workerB.GetService<IMathsService>();
        var valueSetWorkerA1 = Guid.NewGuid().ToString();
        await mathServiceA1.SetValueTest(valueSetWorkerA1);
        var valueGetWorkerB = await mathServiceB.GetValueTest();
        var valueGetWorkerA1 = await mathServiceA1.GetValueTest();
        var valueGetWorkerA2 = await mathServiceA2.GetValueTest();
        if (valueGetWorkerA1 != valueSetWorkerA1) throw new Exception("Unexpected result");
        if (valueGetWorkerA2 != valueSetWorkerA1) throw new Exception("SharedWorker appears not shared");
        if (valueGetWorkerB == valueSetWorkerA1) throw new Exception("SharedWorker with different name unexpectedly same as first SharedWorker");
    }
}