@page "/"

<PageTitle>WebWorker</PageTitle>

@inject WebWorkerService workerFactory
@inject MathsService mathsService

<div class="row">
    <div class="col-5 col-xs-12">
        <h1>SpawnDev.BlazorJS.WebWorkers.WebWorker</h1>
        <br /><br />
        Pi estimation demo. Specify number of iterations.<br />
        <input type="text" @bind="piIterations" placeholder="estimation iterations" /><br />
        <progress max=@piIterations value="@piProgress" /><br /><br />
        <button disabled=@RunDisabled @onclick=OnClick class="btn btn-primary">Run test</button><br /><br />
        <button disabled="@canDisposeWorker" @onclick="OnDisposeWorker" class="btn btn-secondary">Dispose Worker</button><br />
        <br />
        <br />
        <strong>Output:</strong>
        <hr />
        <pre style="min-width: 800px; min-height: 300px;">
            @output
        </pre>
    </div>
</div>
@code {
    int piIterations = 5_000_000;
    int piProgress = 0;
    string output = "";
    WebWorker? worker;
    string? canDisposeWorker => worker != null ? null : "disabled";
    string? RunDisabled => Running ? "disabled" : null;
    bool Running = false;

    string rn = Environment.NewLine;

    public async Task OnClick(EventArgs _)
    {
        Running = true;
        output = "";
        try
        {
            var sw = new System.Diagnostics.Stopwatch();
            if (worker == null)
            {
                output = $"{rn}{LogDate()} Creating WebWorker...";
                StateHasChanged();
                sw.Start();
                worker = await workerFactory.CreateWorker();
                worker.OnMessage += (sender, msg) =>
                {
                    if (msg.TargetName == "progress")
                    {
                        var msgData = msg.GetData<PiProgress>();
                        piProgress = msgData.Progress;
                        StateHasChanged();
                    }
                };
                sw.Stop();
                output += $"{rn}{LogDate()} Background service created in {sw.ElapsedMilliseconds}ms";
                StateHasChanged();
            }
            // We cannot pass piIterations directly, as it would create a reference to the current class
            // which is difficult to serialize over process borders
            // local variables are fine though
            var localParamValue = piIterations;
            output += $"{rn}{LogDate()} Calling EstimatePI({piIterations})...";
            var result = await worker.InvokeAsync<MathsService, double>(nameof(MathsService.EstimatePI), localParamValue);
            output += $"{rn}{LogDate()} EstimatePI({piIterations}) = {result}";
            StateHasChanged();
        }
        catch (Exception e)
        {
            output = $"{rn}Error = {e}";
        }
        finally
        {
            Running = false;
        }
    }

    async Task OnWithoutThreadClicked()
    {
        var result = await mathsService.EstimatePI(piIterations);
        output += $"{rn}{LogDate()} EstimatePI({piIterations}) = {result}";
        StateHasChanged();
    }

    public void OnDisposeWorker()
    {
        worker?.Dispose();
        worker = null;
    }

    private string LogDate()
    {
        return DateTime.Now.ToString("HH:mm:ss:fff");
    }
}
