<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SpawnDev.BlazorJS</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-cog" aria-hidden="true"></span> WebWorker
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SharedWebWorker">
                <span class="oi oi-cog" aria-hidden="true"></span> SharedWebWorker
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="faceapi">
                <span class="oi oi-cog" aria-hidden="true"></span> FaceAPI.js
            </NavLink>
        </div>
        <!-- GitHub Link -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://github.com/LostBeard/SpawnDev.BlazorJS">
                <span class="oi" aria-hidden="true"><img src="media/github-mark-white.svg" width="18" /></span> GitHub Repo
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
